<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        p{
            margin-top:15px;
        }
    </style>
</head>
<body>
    <h3 style="text-align:center;">加速回本云算力合约PACMIC V5</h3>
    <p>什么是加速回本云算力合约？</p>
    <span>加 速回本云算力合约（PACMiC）是HASHNEST推出的全新云算力产品。加速回本云算力（PACMiC）不需支付维护费，而维护费都由BITMAIN 承担。
    在买家回本之前，未偿还的本金还会收到利润。本金在回本完毕之后，矿机重新归BITMAIN所有，合同结束。因为加速回本云算力（PACMiC）是
    不需要支付维护费的，因此回本周期将大大加速。与此同时，还能收获较高的利润。</span>
    <p>PACMiC的认购</p>
    <span>本期合约每份1BTC，每份合约代表6TH/s算力。用户在支付成功后，合约即刻生效。</span>
    <p>PACMiC本金的返回和利润计算</p>
    <span>合约生效后，Hashnest以Antpool.com的PPLNS分配方式计算挖矿收益并返还本金和支付利润。以合约生效后Antpool的第1个爆块时间为计算利润的开始时间。从这个时刻到合约结束，每秒都产生利润。</span>
    <p>利润的计算公式：</p>
    <span>未还款本金（BTC）× 0.45 （聪/BTC/秒）× 爆块花费时间（秒）<br/>

        每次爆块后的收益在支付完利润后，剩余部分用于返还本金。每次返还本金后，未归还本金相应减少。<br/>
        
        *在Antpool.com 发现1个块并经过6个网络确认后，再将爆块信息传递给hashnest.com， 所以hashnest 的返还本金时间和支付利润时间与爆块时间有差别</span>
</body>
</html>